.timur__cta{
    display: flex;
    /* move the button on the right side */
    justify-content: space-between;
    /* vertically align them */
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}


.timur__cta-content p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0E0E0E;
}

.timur__cta-content h3{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #000000;
}

.timur__cta-button{
    display: flex;
    /* center it horizontally */
    justify-content: center;
    /* center it vertically */
    align-items: center;
    margin-left: 2rem;
}

.timur__cta-button button{
    background: #000000;
    color: #FFFFFF;
    border-radius: 40px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    padding: 0.5rem 1rem;
    border:none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}


@media screen and (max-width: 650px) {
    .timur__cta{
        /* content will appear at the bottom of eachother */
        flex-direction: column;
    }

    .timur__cta-button{
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
.timur__cta{
    margin: 4rem 2rem;
}
.timur__cta-content h3{
    font-size: 18;
    line-height: 32px;
}

.timur__cta-button button{
    font-size: 14px;
    line-height: 28px;
}
}