.timur__possibility{
    display: flex;
    flex-direction: row;
}

.timur__possibility-image{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}


.timur__possibility-image img{
width: 100%;
height: 100%;
}


.timur__possibility-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

/* two h4s are the same but it can be styled differently as thereis a :last-child function included */
.timur__possibility-content h4{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
 
    color:#71E5FF;
}


.timur__possibility-content h4:last-child{
    color:#FF8A71;
}

.timur__possibility-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    /* spacing between the heading and p tags */
    margin: 1rem 0;
}

.timur__possibility-content p{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .timur__possibility{
        /* the image goes above the content */
        flex-direction: column;
    }
    .timur__possibility-image{
        /* space it out about */
        margin: 1rem 0;
    }
    .timur__possibility-content{
        margin-top: 2rem;
    }
}