.timur__footer{
    display: flex;
    /* center the whole footer divs */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-footer);
}
/* centered and give itself some space from other foter divs */
.timur__footer-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}


.timur__footer-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04em;
}


.timur__footer-btn{
    /* button styling to evenly space out the text */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 10rem;
    cursor: pointer;
}

.timur__footer-btn p{
box-sizing: border-box;
font-family: var(--font-family);
font-size: 18px;
line-height: 21px;
word-spacing: 2px;
}

/* styling the links below the button */
.timur__footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* wraps on smaller devices */
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: left;

}


.timur__footer-links div{
    width: 250px;
    margin: 1rem;
}

.timur__footer-links_logo{
    display: flex;
    flex-direction: column;
}

.timur__footer-links_logo img{
    width: 118px;
height: 30px;
/* spaced out the between the bottom text and the logo pic */
margin-bottom: 1rem;
}


.timur__footer-links_logo p{
font-family: var(--font-family);
font-size: 12px;
line-height: 14px;
color: white;
}

.timur__footer-links_div{
display: flex;
justify-content: flex-start;
flex-direction: column;
}



/* styling the header of the divs */
.timur__footer-links_div h4{
color: #FFFFFF;
font-family: var(--font-family);
font-size: 14px;
line-height: 16px;
margin-bottom: 1rem;
}

/* styling the header of the divs */
.timur__footer-links_div p{
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0.5rem 0;
    cursor: pointer;
}